* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body,div {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  /* font-family: "Hiragino Kaku Gothic ProN"; */
}

html{
  font-size:62.5%;
}

@media(max-width:670px){
  html{
    font-size:55%;
  }
}

a {
  text-decoration: none;
}

p{
  letter-spacing: 0.02rem;
}

.container {
  /* max-width: 1170px; */
  width: 100%;
  /* padding: 0 15px; */
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(250, 250, 250);
  padding:20px;
  position :fixed;
  top: 0;
  z-index: 10;
  font-size: 16px;
}

.header-right{
  font-family: 'Libre Baskerville', serif;
  float:right;
}

.header-right a{
  color:rgb(180,180,180);
  margin-left:18px;
}

.header-right a:hover{
  color:rgb(200,0,0);
}

footer{
  width:100%;
  background-color:rgba(90,90,90);
  height:30px;
  text-align: center;
  color:rgb(180,180,180);
  font-size:1.2rem;
}

footer p{
  font-family: 'Libre Baskerville', serif;
  transform:translateY(50%);
  /* top:50%; */
}

.top-wrapper {
  /* padding: 200px 0 200px 0; */
  height:80vh;
  /* background-image: url(https://prog-8.com/images/html/advanced/top.png); */
  /* background-size: cover; */
  background-color: rgb(250,250,250);
  font-size:6.0rem;
  position: relative;
}

@media(max-width:1000px){
  .top-wrapper{
    height:60vh;
    font-size:4.0rem;
  }
}

@media(max-width:670px){
  .top-wrapper{
    height:40vh;
    font-size:3.0rem;
  }
}

.top-wrapper h1{
  position: absolute;
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-align: center;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
}

.main-wrapper{
  width:100%;
  /* margin:0 auto; */
  font-size:1.5rem;
  color:rgb(50,50,50);
  position:relative;
}

.contents-wrapper{
  margin-right: 20%;
}

@media(max-width:1000px){
  .contents-wrapper{
    margin-right:10%;
  }
}

@media(max-width:670px){
  .conntents-wrapper{
    margin-right:10%;
  }
}

.main-wrapper h2{
  font-size:2.0rem;
  margin-top:40px;
  margin-bottom:16px;
  font-weight:normal;
}

.profile-wrapper span{
  color:rgb(100,100,100);
}
