* {
  box-sizing: border-box;
}

body,div {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  /* font-family: "Hiragino Kaku Gothic ProN"; */
}

a {
  text-decoration: none;
}

p{
  letter-spacing: 0.02rem;
}

.container {
  /* max-width: 1170px; */
  width: 100%;
  /* padding: 0 15px; */
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(250, 250, 250);
  padding:20px;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-right{
  font-family: 'Libre Baskerville', serif;
  float:right;
}

.header-right a{
  color:rgb(180,180,180);
  padding-left:18px;
}

.header-right a:hover{
  color:rgb(200,0,0);
}

footer{
  width:100%;
  background-color:rgba(90,90,90);
  height:30px;
  text-align: center;
  color:rgb(180,180,180);
  font-size:12px;
}

footer p{
  font-family: 'Libre Baskerville', serif;
  transform:translateY(50%);
  /* top:50%; */
}

.top-wrapper {
  padding: 200px 0 200px 0;
  /* background-image: url(https://prog-8.com/images/html/advanced/top.png); */
  /* background-size: cover; */
  color: black;
  font-size:60px;
  text-align: center;
  background-color: rgb(250,250,250);
}

.top-wrapper h1{
  font-family: 'Libre Baskerville', serif;

}

.main-wrapper{
  width:50%;
  margin:0 auto;
  font-size:15px;
  color:rgb(50,50,50);
}

.main-wrapper h2{
  font-size:22px;
  margin-top:40px;
  font-weight:normal;
}

.profile-wrapper span{
  color:rgb(100,100,100);
}
