* {
  box-sizing: border-box;
}

body,div {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
}

html {
  font-size: 62.5%;
}

@media(max-width:670px) {
  html{
    /* font-size:55%; */
  }
}

p{
  margin:0;
}

a {
  text-decoration: none;
}

.container {
  /* max-width: 1170px; */
  width: 100%;
  /* padding: 0 15px; */
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(250, 250, 250);
  padding:20px;
  position :fixed;
  top: 0;
  z-index: 10;
  font-size: 16px;
}

footer{
  width:100%;
  background-color:rgba(90,90,90);
  height:30px;
  text-align: center;
  color:rgb(180,180,180);
  font-size:12px;
}

footer p{
  font-family: 'Libre Baskerville', serif;
  transform:translateY(50%);
  /* top:50%; */
}

.header-right{
  float:right;
  font-family: 'Libre Baskerville', serif;
}

.header-right a{
  color:rgb(180,180,180);
  padding-left:18px;
}

.header-right a:hover{
  color:rgb(200,0,0);
}

.top-wrapper{
  width:100%;
  margin-top:65px;
}

.top-img{
  height:60vh;
  background-position: center;
  /* background-size:cover; */
}

@media(max-width:670px){
  .top-img{
    height:40vh;
    /* font-size:3.0rem; */
  }
}

.black-filter{
  width:100%;
  height:100%;
  background-color: rgb(0,0,0,0.6);
  position: relative;
}

.page-title{
  position:absolute;
  top: 50%;
  left:0;
  right:0;
  margin:0 auto;
  text-align: center;
  transform:translateY(-50%);
  color:white;
  font-size:24px;
}

.main-wrapper{
  width:70%;
  margin:0 auto;
}

@media(max-width:670px){
  .main-wrapper{
    width:90%;
  }
}

.abst-wrapper{
  margin:40px 0;
  color: rgb(80,80,80);
}

.abst-wrapper p{
  margin-bottom:5px;
  font-size: 1.6rem;
}

.movie-wrapper{
  margin:50px 0;
}

.youtube{
  position:relative;
  padding-top:56.25%;
  background-color:rgb(0,0,0);
  /* text-align:center; */
}
.youtube iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.modeling{
  font-size:0;
}

.modeling img{
  width:25%;
  margin:0;
  padding:0;
  margin-bottom:30px;
}

.fractal img{
  width:100%;
  margin-bottom:30px;
}

#loading{
   width:100vw;
   height:100vh;
   transition: all 1s;
   background-color:rgb(246,248,250);
   position:fixed;
   top:0;
   left:0;
   z-index:10;
 }

 .loaded{
   opacity:0;
   visibility:hidden;
 }
